<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
这是模板 <br>
这是首页 <br>

{#下面是一个变量代码块的使用#}
{{ url_str }} <br>

{#列表的使用#}
{{ my_list }} <br>
{{ my_list.2 }} <br>
{{ my_list[2] }} <br>

{#字典的使用#}
{{ my_dict }} <br>
{{ my_dict.url }} <br>
{{ my_dict['url'] }} <br>

{{ my_int }} <br>

<hr>

{#控制代码块 {%  %}#}

{#For循环的使用, 建议先写for,然后按住tab进行补全#}
{% for num in my_list %}
    {#数据大于3, 才能显示#}
    {% if num > 3 %}
        {{ num }} <br>
    {% endif %}
{% endfor %}

<hr>

{#过滤器#}

{#字符串变大写#}
{{ url_str | upper }}<br>
{#字符串反转#}
{{ url_str | reverse }}<br>
{#过滤器链式调用#}
{{ url_str | upper | reverse | lower | reverse}}<br>




</body>
</html>